/* Write your CSS here! */
h1 {
    text-align: center;
    font-size: 4em;
    color: red;
    margin-bottom: .3em;
  }

  p {
      text-align: center;
      font-size: 1em;
      color: green;
  }

  body {
    background-color: lightblue;
    margin: 8px;
  }

  h2 {
    font-size: 2em;
    text-decoration: underline;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 8px;
      
  }